# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
artifacts/
*.binlog

# NuGet
*.nupkg
*.snupkg
/packages/

# IDE
.idea
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user
riderModule.iml
/_ReSharper.Caches/

# OS
.DS_Store
Thumbs.db

# Deploy output
publish/

# App settings
**/appsettings.Production.json
**/appsettings.Development.json

# AI
.aider*
